<section class="vacancy-item">
  <div class="vacancy-title">
    <%= link_to vacancy_path(vacancy) do %>
      <%= vacancy.job_title %>
    <% end %>
  </div>
  <div class="vacancy-details">
    <span><i class="fa fa-briefcase" aria-hidden="true"></i><%= vacancy.company_name %></span>
    <span><i class="fa fa-map-marker" aria-hidden="true"></i><%= vacancy.location %></span>
  </div>
</section>
