<section class="bg-vacancy-intro">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        <%= t(".welcome_message_html") %>
      </h1>
      <div class="text-center">
          <%= link_to t(".advertise_message"), new_vacancy_path, class: "btn btn-primary btn-register-vacancy grow" %>
      </div>
    </div>
  </div>
</section>

<section>
  <article>
    <div class="vacancy-list">
      <%= render(@vacancies) || no_content_message(t(".no_vacancies")) %>
    </div>
  </article>
</section>
