<h1 class="page-title"><%= t('.title') %></h1>

<section>
  <article>
    <div class="vacancy-list">
      <%= render(@vacancies) || no_content_message(t(".no_vacancies")) %>
    </div>
  <article>
</section>
