<h1><%= t('.title') %></h1>

<div>
  <%= link_to t('.post_vacancy'), new_vacancy_path, class: 'btn btn-primary' %>
</div>


<section>
  <article>
    <ul class="vacancy-list">
      <%= render(@vacancies) || no_content_message(t(".no_vacancies")) %>
    </ul>
  <article>
</section>
