
<section class="bg-vacancy-intro">
  <div class="row">
    <div class="col-md-12">

      <h1 class="text-center">
        Find the best job offers! <br>
        Find the ideal professional for your company!
      </h1>
      <div class="text-center">
          <button type="button" name="button" class="btn btn-primary btn-register-vacancy">Advertise for free</button>
      </div>
    </div>
  </div>
</section>

<!--<h1 class="page-title"><%= t('.title') %></h1>-->


<section>
  <article>
    <div class="vacancy-list">
      <%= render(@vacancies) || no_content_message(t(".no_vacancies")) %>
    </div>
  <article>
</section>
