<% if @filtered_by == nil %>
  <%= render('apply_vacancy') %>
<% else %>
  <%= render :partial => 'company_header', :locals => { :company => @filtered_by } %>
<% end %>


<section>
  <article>
    <div class="vacancy-list">
      <%= render(@vacancies) || no_content_message(t(".no_vacancies")) %>
    </div>
  </article>
</section>
