<h1 class="page-title"><%= @vacancy.job_title %></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="vacancy-details">
      <span><i class="glyphicon glyphicon-briefcase"></i><%= @vacancy.company_name %></span>
      <span><i class="glyphicon glyphicon-map-marker"></i><%= @vacancy.location %></span>
    </div>

    <div class="vacancy-description">
      <%=  sanitize(@vacancy.description) %>
    </div>
  </div>
</div>
