@import "variables";

footer {
  background-color: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
  bottom: 0;
  height: 38px;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;

  i:first-child {
    color: $footer-heart-color;
  }
}
