// import bootstrap
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  font-family: "Fira Sans";
  background: rgba(107, 121, 124, 0.61);
}

body > div.container { 
  margin-top: 4%;
}

.field_with_errors {
  @extend .has-error;

  label {
    color: #a94442;
  }
}

.no-content {
  border-top: 1px solid #ccc;
  padding: 1% 0;
}

.vacancy-list {
  .vacancy-item {
    max-height: 170px;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    margin-bottom: 16px;
    padding: 15px;
    box-shadow: 3px 3px 2px rgba(105, 105, 105, 0.28);

    div {
      margin: 5px 0;
    }


    .vacancy-title a {
      color: #2d7788;
      font-size: 25px;

      &:hover {
        text-decoration: none;
      }
    }

    .vacancy-details {
      color: #777777;
      span {
        font-size: 16px;

        i {
          margin: 0 5px 0 0;
        }
      }
    }

    .vacancy-description {
      color: #555;
    }
  }
}

.page-title {
  text-align: center;
  color: #fff;
  margin: 45px;
  font-size: 43px;
  text-shadow: 3px 3px 2px rgba(105, 105, 105, 0.28);
}
