$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "summernote";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  font-family: "Open Sans", sans-serif;
  background: #f2f2f2;
  padding-top: 50px;
}

.field_with_errors {
  @extend .has-error;

  label {
    color: #a94442;
  }
}

.no-content {
  border-top: 1px solid #ccc;
  padding: 1% 0;
}

.bg-vacancy-intro {
    background: url(asset-path('bg-intro-vacancy3.jpg')) no-repeat center center;
    min-height: 45vh;
    padding: 10px;
    background-size: cover;
}

.bg-vacancy-intro h1 {
  padding-top: 75px;
  color: #fff;
  text-transform: capitalize;
  font-size: 2em;
}

.vertical-25 {
  margin-top: 25px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.vacancy-list {
  margin-top: 20px;
  margin-bottom: 20px;

  .vacancy-item {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    border-left: 2px solid #4a8cc4;
    padding: 15px;

    &:hover {
      box-shadow:10px 6px 11px rgba(136, 136, 136, 0.64);
    }

    div {
      margin: 5px 0;
    }

    .vacancy-title {
      a {
        color: #3088b8;
        font-size: 1.5em;
        text-transform: capitalize;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .show-title-vacancy {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 500;
      font-family: "Open Sans";
    }

    .img-company {
      margin-top: 10px;
      border: 1px solid #eee;
      padding: 3px;
    }

    .vacancy-details {
      color: #777777;
      span {
        font-size: 16px;
        display: block;

        i {
          margin: 0 5px 0 0;
          width: 15px;
          text-align: center;
        }
      }
    }

    .vacancy-description {
      color: #555;
    }
  }
}

.page-title {
  text-align: center;
  color: #fff;
  margin: 45px;
  font-size: 43px;
  text-shadow: 3px 3px 2px rgba(105, 105, 105, 0.28);
}

.brand-name {
  color:#f66c35;
}

.btn-primary {
  background: #05a58a;
  border: transparent;

  &.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #1f8b79;
    border-color: #1f8b79;
  }
}

.btn-border-bottom-primary {
    border-radius: 0;
    border-bottom: 5px solid #1f8b79;
}

.btn-primary:hover {
  background-color:#1f8b79;
  border-bottom: 5px solid #1f8b79;
}

.btn-register-vacancy {
  background-color:#ff6f27;
  width: 300px;
  height: 35px;
  border-radius: 5px;
}

.view-vacancy {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.job-title-view {
  color: #f66c41;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.vacancy-describe-itens {
  color: #cbcaca;
  font-size: 1.6rem;
}

.question-apply {
  background: rgba(176, 217, 234, 0.13);
  padding: 10px
}

.btn-hint {
  font-size: .8em;
  color: #f66c41;
}


.box-share-vacancy {
  border-left: 1px solid #cbcaca;
  height: 155px;
  padding-left: 15px;
    h4 {
      font-size: 1.8rem;
      color: #f66c41;
    }
}
.report-vacancy > tbody > tr > td {
  padding: 0;
  line-height: 1.42857;
  vertical-align: middle;
  border-top: 1px solid transparent;
}

.describe-vacancy {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}

.describe-img-company {
  border: 1px solid #eee;
  padding: 3px;
}

footer {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .vertical-25 {
    margin-top: 0;
  }
}
